<h1>Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <%= link_to recipe do %>
    <%= recipe.name %>
    Total food items: <%= recipe.foods.length %>
    Total price: <%= recipe.recipe_foods.inject(0) { |sum, recipe_food| sum + recipe_food.quantity*recipe_food.food.price } %>
    By: <%= recipe.user.name %>
  <% end %>
<% end %>
