<h1>Shopping List</h1>
<secction class="shoping-totals">
  <div>
    Amount of food items to buy: <%= @items.length %>
  </div>
  <div>
    Total value of food needed: <%= number_to_currency @items.inject(0) { |sum, item| sum + item[:price] } %>
  </div>
</secction>
<br/>
<br/>
<br/>
Food
Quantity
Price
<br/>
<% @items.each do |item| %>
  <%= item[:name] %>
  <%= sprintf('%g', item[:quantity]) %> <%= item[:unit] %>
  <%= number_to_currency item[:price] %>
  <br/>
<% end %>
